 /* Selector universal */ 
*{ 
  margin: 0;
  padding:0;
  overflow-x: hidden;
}

body {
display: flex
align-items: center;
justify-content: unset;  
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.maincontent{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
  top: 0px;
}

.header {
  text-align: center;
  background-color: black;
  font-family: 'Black Han Sans', sans-serif;
  width: 1403px
  height: 91px;
  font-size:350%;}
  
h2{
text-align:center;
font-size: 80px;
    left: 1000px;
    top: 235px;
  }
  
 h3{
  text-align:center;
 font-size: 25px;
 left: 1000px;
 top: 235px;}
    

  /*---Formulario---*/
.contenedor {
  display: flex;
  justify-content: center;
  
}

  .formulariotarjeta{

    background-color: #454545;
     width: 800px;
    height: 600px;
    margin: 500px ;
    margin-top: 154px;
    margin-left: 500px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgb(16, 16, 16);
    position: relative;
    top: -80px;
    
    
   

  }

  .nombre{
    display: flex;
  justify-content: center;
    padding: 10px 50px; 
    
    color: rgb(255, 255, 255);
    margin-bottom: 3%;
    font-size: 50px;
    
    align-items: center;
  }

  .nombre1{
    display: flex;
    justify-content: center;
      font-size: 40px;
      left: 100px;
      margin: auto;
      left: 250px;
      text-align: center;
  
    

  }

  .numeroTarjeta {
    display: flex;
  justify-content: center;
    padding: 10px 50px; 
    
    color: rgb(255, 255, 255);
    margin-bottom: 3%;
    font-size: 50px;
    align-items: center;
  }

  .numeroTarjeta1{
   
  display: flex;
  justify-content: center;
    font-size: 40px;
    left: 100px;
    margin: auto;
    left: 250px;
    text-align: center;
    
  }

  .enviar
{
  
  border: 2px solid #2f2f2f;
  font-size: 22px;
  position: absolute;
  width: 300px;
  height: 50px;
  left: 250px;
  top: 450px;
  box-shadow: 3px 3px 2px rgb(29, 28, 28);
  border-radius: 7px;
      
  
    }

    .restaurar
  {
    border: 2px solid #474747;
    font-size: 18px;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 300px;
    top: 350px;
    box-shadow: 3px 3px 2px rgb(14, 14, 14);
    border-radius: 7px;
  }

  .text{
    display: flex;
  justify-content: center;
  }
 

#pie {
  text-align: center;
 
  left: 200px;
  top: 100px;}
